<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Seleccionar año y mes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Año</ion-label>
                    <ion-select #anio okText="OK" cancelText="Cancelar" interface="popover">
                        <ion-select-option *ngFor="let anio of anios" [value]="anio">{{anio}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Mes</ion-label>
                    <ion-select #mes okText="OK" cancelText="Cancelar" interface="popover">
                        <ion-select-option *ngFor="let mes of monthNames; let i = index" [value]="i">{{mes}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button shape="round" expand="block" color="success" (click)="seleccionar()">
                    <ion-icon slot="start" name="calendar"></ion-icon>
                    Seleccionar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>