<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{servicio}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="fondoColor background" style="margin: 15px;">
    <ion-row style="border: 1px solid; border-color: white; margin: 15px; color: white; background-color: #3171e0; text-align: center;">
        <ion-col size="3">
            <h3>Consulta :</h3>
            <p>{{idCita}}</p>
        </ion-col>
        <ion-col size="3">
            <h3>Paciente :</h3>
            <p>{{paciente}}</p>
        </ion-col>
        <ion-col size="3">
            <h3>Sexo :</h3>
            <p *ngIf="sexo=='m'">Masculino</p>
            <p *ngIf="sexo=='f'">Femenino</p>
        </ion-col>
        <ion-col size="">
            <h3>Fecha de la Cita :</h3>
            <p>{{fecha}}</p>
        </ion-col>
    </ion-row>
    <ion-grid style="border: 1px solid; border-color: white; margin: 15px;">
        <h1 style="color: white;">Datos del {{servicio}}</h1>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        Causa de la consulta:
                    </ion-label><br>
                    <ion-input #causaConsulta id="causaConsulta" type="text" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        Alergias:
                    </ion-label><br>
                    <ion-input #alergias id="alergias" type="text" class="borde"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical">
                        </ion-icon>
                        Enfermedades pre-existentes:
                    </ion-label><br>
                    <ion-input #enfermedades id="enfermedades" type="text" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical"> </ion-icon>
                        Receta medica o medicamentos tomados:
                    </ion-label><br>
                    <ion-input #receta id="receta" type="text" class="borde"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical">
                        </ion-icon>
                        Sintomas clave:
                    </ion-label><br>
                    <ion-input #sintomas id="sintomas" type="text" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical">
                        </ion-icon>
                        Tiempo estimado de los sintomas
                    </ion-label><br>
                    <ion-input #tiempo id="tiempo" type="text" placeholder="  Casa (opcional)" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical">
                        </ion-icon>
                        Datos de la presion del paciente:
                    </ion-label><br>
                    <ion-input #presion id="presion" type="text" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical">
                        </ion-icon>
                        Datos de los pulmones del paciente:
                    </ion-label><br>
                    <ion-input #pulmones id="pulmones" type="text" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-col size="12">
            <ion-item>
                <ion-textarea #notas id="notas" placeholder="Notas Extra ..." auto-grow=true style="text-transform: uppercase;border-color: black;
            border-width: 1px;
            border-radius: 5px; padding-left: 5px;"> <label style="color: #999999;"> (Opcional)</label></ion-textarea>
            </ion-item>
        </ion-col>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical">
                        </ion-icon>
                        Fecha de la proxima cita:
                    </ion-label><br>
                    <ion-input #fechaCita id="fechaCita" type="date" displayFormat="YYYY/MM/DD" style="color: #999999;" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon color="danger" slot="start" name="medical">
                        </ion-icon>
                        Medicamentos Recetados:
                    </ion-label><br>
                    <ion-input #medicamentos id="medicamentos" type="text" class="borde">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-col size="12" class="ion-padding">
            <ion-row>
                <ion-col size="6">
                    <ion-button color="primary" shape="round" expand="block" (click)="guardar()" class="borde-botones">
                        Guardar
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button color="primary" shape="round" expand="block" color="danger" expand="full" (click)="regresar()" class="borde-botones">
                        Cancelar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-grid>
</ion-content>