<ion-content>
    <ion-header style="--ion-background-color: rgba(255, 255, 255, 0.13); border: 2px solid rgba(255, 255, 255, 0.1);box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);">
        <ion-toolbar style="color:white;">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                Regiones
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="content">
        <!-- boton add -->
        <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="isDisplay">
            <ion-row>
                <ion-fab-button color="primary">
                    <ion-icon name="add-outline" (click)="addProduct()"></ion-icon>
                </ion-fab-button>
            </ion-row>
        </ion-fab>

        <!-- boton regresar -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isDisplay">
            <ion-row>
                <ion-fab-button color="danger">
                    <ion-icon name="arrow-back" (click)="back()"></ion-icon>
                </ion-fab-button>
            </ion-row>
        </ion-fab>



        <div class="card" *ngIf="isDisplay">
            <ion-card-header class="card-header card-header-success">
                <!-- <ion-icon size="large" name="location-outline"></ion-icon> -->
                <ion-card-title class="card-title">Listado de Regiones:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item style=" text-align: center;">
                    <ion-col size="1">
                        #
                    </ion-col>
                    <ion-col size="4">
                        Nombre
                    </ion-col>
                    <ion-col size="4">
                        Municipio
                    </ion-col>
                    <ion-col size="3">
                    </ion-col>
                </ion-item>
                <ion-list>
                    <ion-item style=" text-align: center;" *ngFor="let item of user;let i = index;">
                        <ion-col size="1">
                            {{item.id}}
                        </ion-col>
                        <ion-col size="4">
                            {{item.attributes.nombre}}
                        </ion-col>
                        <ion-col size="4">
                            {{item.attributes.municipio}}
                        </ion-col>
                        <ion-col size="3">
                            <ion-button color="warning" (click)="edit(item, i)">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-button>
                            <ion-button color="danger" (click)="remove(item.id, i)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </div>


        <!-- <ion-card *ngIf="isDisplay">
            <ion-card-header style="text-align:center">
                <ion-icon size="large" name="location-outline"></ion-icon>
                <h1>Listado de Regiones:</h1>
            </ion-card-header>
            <ion-card-content>
                <ion-item style=" text-align: center;">
                    <ion-col size="1">
                        #
                    </ion-col>
                    <ion-col size="4">
                        Nombre
                    </ion-col>
                    <ion-col size="4">
                        Municipio
                    </ion-col>
                    <ion-col size="3">
                    </ion-col>
                </ion-item>
                <ion-list>
                    <ion-item style=" text-align: center;" *ngFor="let item of user;let i = index;">
                        <ion-col size="1">
                            {{item.id}}
                        </ion-col>
                        <ion-col size="4">
                            {{item.attributes.nombre}}
                        </ion-col>
                        <ion-col size="4">
                            {{item.attributes.municipio}}
                        </ion-col>
                        <ion-col size="3">
                            <ion-button color="warning" (click)="edit(item, i)">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-button>
                            <ion-button color="danger" (click)="remove(item.id, i)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card> -->


        <div class="card" *ngIf="!isDisplay">
            <ion-card-header class="card-header card-header-success">
                <!-- <ion-icon size="large" name="location-outline"></ion-icon> -->
                <ion-card-title class="card-title">Guardar Region:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label position="floating">Nombre</ion-label>
                                <ion-input [(ngModel)]="post.nombre"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label position="floating">Finca</ion-label>
                                <ion-input [(ngModel)]="post.finca"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label>Departamento</ion-label>
                                <ion-select [(ngModel)]="post.departamento">
                                    <ion-select-option *ngFor="let item of deptos" [value]="item">{{item}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label>Municipio</ion-label>
                                <ion-select [(ngModel)]="post.municipio">
                                    <ion-select-option *ngFor="let item of munis" [value]="item">{{item}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label position="floating">Altura (Metros Sobre el Nivel del Mar)</ion-label>
                                <ion-input type="number" [(ngModel)]="post.altura"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="12">
                            <ion-button expand="block" (click)="onSubmit()">Guardar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </div>

        <!-- <ion-card *ngIf="!isDisplay">
            <ion-item>
                <h1> Guardar Region:</h1>
            </ion-item>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label position="floating">Nombre</ion-label>
                                <ion-input [(ngModel)]="post.nombre"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label position="floating">Finca</ion-label>
                                <ion-input [(ngModel)]="post.finca"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label>Departamento</ion-label>
                                <ion-select [(ngModel)]="post.departamento">
                                    <ion-select-option *ngFor="let item of deptos" [value]="item">{{item}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label>Municipio</ion-label>
                                <ion-select [(ngModel)]="post.municipio">
                                    <ion-select-option *ngFor="let item of munis" [value]="item">{{item}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="12" size-sm="12" size-lg="6" size-xs="12">
                            <ion-item>
                                <ion-label position="floating">Altura (Metros Sobre el Nivel del Mar)</ion-label>
                                <ion-input type="number" [(ngModel)]="post.altura"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="12">
                            <ion-button expand="block" (click)="onSubmit()">Guardar</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card> -->

        <ion-row>
            <ion-col size="12" size-sm="12" size-lg="12" size-xs="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title style="text-align: center;">Mapa de Guatemala</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div id="regiones"></div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
</ion-content>