.monthview-container {
    height: auto !important;
}

ion-content.background {
    --background: url('fondoImg.jpg') 0 0/100% 100% no-repeat;
}

.hydrated {
    max-width: 100% !important;
}

#calendario {
    border-style: solid;
    border-width: 1px;
    border-color: #c7c7c7;
}

#mes {
    display: flex;
}

#tabla-calendario {
    background-color: red;
}

.borde {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.borde-seleccionado {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: green;
}

.alinear {
    padding: 8px 128px 0px 124px;
}

.boton-alinear {
    padding: 0px 6px 0px 12px;
}

.monthview-selected {
    background-color: #2e348e !important;
}