/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.alert.alert-danger {
    border-color: #df5138;
    background: #e46f61;
}

.alert.alert-warning {
    border-color: #ffce55;
    color: #555555;
    background: #fff1a8;
}

.alert.alert-success {
    border-color: #8cc474;
    background: #a0d468;
}

.alert.alert-info {
    border-color: #11a9cc;
    background: #57b5e3;
}

ion-checkbox {
    width: 35px;
    height: 35px;
}

ion-label {
    font-size: 16px !important;
}

.alert-mensaje .alert-wrapper {
    min-width: 50% !important;
}

.my-custom-modal-css .modal-wrapper {
    height: 50%;
    width: 85%;
    top: 25%;
    position: absolute;
    display: block;
}

.modal-facturas {
    .modal-wrapper {
        width: 80%;
    }
}

.modal-citas-disponibles {
    .modal-wrapper {
        width: 80%;
    }
}

.modal-anio-mes {
    .modal-wrapper {
        width: 30%;
        min-width: 150px;
        height: 30%;
        min-height: 150px;
    }
}

.my-custom-menu {
    --width: 500px;
}

.mensaje-alerta>div.sc-ion-alert-md {
    width: 400px;
    max-width: 450px !important;
}

.native-input {
    padding-left: 10px !important;
}

--ion-checkbox {
    width: 40px !important;
    height: 40px !important;
}

.alert-error {
    background-color: red;
}

.toaster {
    font-size: 20px;
    font-weight: bold;
}

ion-checkbox {
    width: 35px;
    height: 35px;
}

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';