<ion-content>
    <ion-header style="--ion-background-color: rgba(255, 255, 255, 0.13); border: 2px solid rgba(255, 255, 255, 0.1); box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);">
        <ion-toolbar style="color:white;">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                <ion-icon size="large" name="home"></ion-icon>
                Inicio
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="content">
        <ion-row>
            <ion-col size-md="6" size-sm="6" size-lg="3" size-xs="6">
                <div class="card card-stats">
                    <ion-card-header class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <ion-icon color="light" slot="icon-only" size="large" name="cafe-outline"></ion-icon>
                        </div>
                        <ion-card-title class="card-category">{{cafe.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="card-footer">
                        <div class="stats">
                            <ion-icon class="material-icons" name="pricetag"></ion-icon>
                            Tipos de Café Registrados
                        </div>
                    </ion-card-content>
                </div>
            </ion-col>
            <ion-col size-md="6" size-sm="6" size-lg="3" size-xs="6">
                <div class="card card-stats">
                    <ion-card-header class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <ion-icon color="light" slot="icon-only" size="large" name="thermometer-outline"></ion-icon>
                        </div>
                        <ion-card-title class="card-category">{{tfermentaciones.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="card-footer">
                        <div class="stats">
                            <ion-icon class="material-icons" name="pricetag"></ion-icon>
                            Tipos de Fermentaciones Registradas
                        </div>
                    </ion-card-content>
                </div>
            </ion-col>
            <ion-col size-md="6" size-sm="6" size-lg="3" size-xs="6">
                <div class="card card-stats">
                    <ion-card-header class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <ion-icon color="light" slot="icon-only" size="large" name="location-outline"></ion-icon>
                        </div>
                        <ion-card-title class="card-category">{{regiones.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="card-footer">
                        <div class="stats">
                            <ion-icon class="material-icons" name="pricetag"></ion-icon>
                            Regiones Registradas
                        </div>
                    </ion-card-content>
                </div>
            </ion-col>
            <ion-col size-md="6" size-sm="6" size-lg="3" size-xs="6">
                <div class="card card-stats">
                    <ion-card-header class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <ion-icon color="light" slot="icon-only" size="large" name="leaf"></ion-icon>
                        </div>
                        <ion-card-title class="card-category">{{nanolotes.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="card-footer">
                        <div class="stats">
                            <ion-icon class="material-icons" name="pricetag"></ion-icon>
                            Nano-lotes Registrados
                        </div>
                    </ion-card-content>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="6" size-sm="12" size-lg="6" size-xs="12">
                <div class="card card-chart">
                    <ion-card-header class="card-header card-header-success">
                        <div class="ct-chart">
                            <div style="width: 100%;" id="histrialFermentaciones"></div>
                        </div>
                    </ion-card-header>
                    <ion-card-content class="card-body">
                        <ion-card-title class="card-title">Historial de Fermentaciónes Activas</ion-card-title>
                    </ion-card-content>
                    <div class="card-footer">
                        <div class="stats">
                            <ion-icon class="material-icons" name="time"></ion-icon>
                            Historial Actual de las Fermentaciones Activas
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size-md="6" size-sm="12" size-lg="6" size-xs="12">
                <div class="card card-chart">
                    <ion-card-header class="card-header card-header-danger">
                        <div class="ct-chart">
                            <div style="width: 100%;" id="histrialFermentacionesInactivas"></div>
                        </div>
                    </ion-card-header>
                    <ion-card-content class="card-body">
                        <ion-card-title class="card-title">Historial de Fermentaciónes Inactivas</ion-card-title>
                    </ion-card-content>
                    <div class="card-footer">
                        <div class="stats">
                            <ion-icon class="material-icons" name="time"></ion-icon>
                            Historial Actual de las Fermentaciones Inactivas
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <!-- <ion-row>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card-chart">
                    <ion-card-header class="card-header card-header-warning">
                        <div class="ct-chart">
                        </div>
                    </ion-card-header>
                    <ion-card-content class="card-body">
                        <ion-card-title class="card-title">Analisis de Fermentaciones</ion-card-title>
                    </ion-card-content>
                    <div class="card-footer">
                        <div class="stats">
                            <ion-icon class="material-icons" name="pricetag"></ion-icon>
                            Analisis fermentaciones
                        </div>
                    </div>
                </div>
            </div>
        </ion-row> -->
    </div>
</ion-content>