<ion-content>
    <ion-header style="--ion-background-color: rgba(255, 255, 255, 0.13); border: 2px solid rgba(255, 255, 255, 0.1); box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);">
        <ion-toolbar style="color:white;">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                <ion-icon size="large" name="home"></ion-icon>
                Inicio
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="content">
        <ion-row>
            <ion-col size="12" size-sm="12" size-lg="3" size-xs="6">
                <ion-card color="danger">
                    <ion-card-header>
                        <ion-icon size="large" name="cafe-outline"></ion-icon>
                        <ion-card-subtitle>Tipos de Café Registrados</ion-card-subtitle>
                        <ion-card-title>{{cafe.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-progress-bar value="{{cafe.length*0.01}}" color="warning"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
                <ion-card color="warning">
                    <ion-card-header>
                        <ion-icon size="large" name="thermometer-outline"></ion-icon>
                        <ion-card-subtitle>Tipos de Fermentaciones Registradas</ion-card-subtitle>
                        <ion-card-title>{{tfermentaciones.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-progress-bar value="{{tfermentaciones.length*0.01}}" color="success"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
                <ion-card color="success">
                    <ion-card-header>
                        <ion-icon size="large" name="location-outline"></ion-icon>
                        <ion-card-subtitle>Regiones Registradas</ion-card-subtitle>
                        <ion-card-title>{{regiones.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-progress-bar value="{{regiones.length*0.01}}" color="primary"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
                <ion-card color="primary">
                    <ion-card-header>
                        <ion-icon size="large" name="leaf"></ion-icon>
                        <ion-card-subtitle>Nano-lotes Registrados</ion-card-subtitle>
                        <ion-card-title>{{nanolotes.length}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-progress-bar value="{{nanolotes.length*0.01}}" color="light"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="12" size-lg="9" size-xs="6">
                <ion-card>
                    <ion-card-header class="ion-no-padding">
                        <center>
                            <ion-img (click)="verimg()" style="max-width: 310px; max-height: 310px;" src="assets/img/logo.png"></ion-img>
                        </center>
                        <ion-card-subtitle>Bienvenido</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content></ion-card-content>
                </ion-card>
                <ion-row>
                    <ion-col size="12" size-sm="12" size-lg="6" size-xs="12">
                        <ion-card>
                            <ion-card-header>
                                <button ion-item [routerDirection]="'root'" [routerLink]="['/fermentaciones']">
                                        <ion-img style="filter: brightness(0.8);" src="assets/img/boton1_rectangulo.jpg"></ion-img>
                                        <ion-card-subtitle style=" position: absolute; top: 30%; width: 100%; color: #fff;">Nueva Fermentación</ion-card-subtitle>
                                </button>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-sm="12" size-lg="6" size-xs="12">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-header class="ion-no-padding">
                                    <button ion-item [routerDirection]="'root'" [routerLink]="['/fermentaciones']">
                                        <ion-img style="filter: brightness(0.8);" src="assets/img/boton2_rectangulo.jpg"></ion-img>
                                        <ion-card-subtitle style=" position: absolute; top: 30%; width: 100%; color: #fff;">Fermentaciónes</ion-card-subtitle>
                                </button>
                                </ion-card-header>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    <!-- <ion-slides pager="true" [options]="slideOpts" #slides>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-img style="filter: brightness(0.8);" src="assets/img/boton1_rectangulo.jpg"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-img style="filter: brightness(0.8);" src="assets/img/boton2_rectangulo.jpg"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-img style="filter: brightness(0.8);" src="assets/img/boton1_rectangulo.jpg"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides> -->

</ion-content>